.add-product {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 30px 50px;
  margin: 78.86px 30px 30px 260px;
  border-radius: 6px;
}
.ap-itemfield {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}
.ap-itemfield input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  color: #7b7b7b;
  font-family: "Poppins";
  font-size: 14px;
  border: 1px solid #c3c3c3;
}
.ap-price {
  display: flex;
  gap: 40px;
}
.ap-selector {
  padding: 10px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: #7b7b7b;
  border: 1px solid #7b7b7b8d;
  border-radius: 4px;
}
.ap-thumbnail-img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px 0;
}
.ap-btn {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: #6079ff;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500px;
}

.images{
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
@media (max-width: 800px) {
  .add-product {
    width: autp;
    padding: 30px;
    margin: 20px;
    width: 95%;
  }
}
