.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-logo p {
  font-size: 35px;
  font-weight: 600;
  color: #383838;
}
.footer-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  color: #252525;
}
.footer-menu li {
  cursor: pointer;
}
.footer-contact {
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.box {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #ebebeb;
  color: #fbfbfb;
  justify-content: center;
  align-items: center;
}
.footer hr {
  width: 80%;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
}
.copyright {
  margin-bottom: 40px;
  color: #1a1a1a;
}

@media (max-width: 800px) {
  .footer-logo p {
    font-size: 30px;
  }
  .footer-logo img {
    width: 50px;
  }
  .footer-menu {
    gap: 20px;
  }
  .footer-contact {
    gap: 20px;
  }
  .box {
    width: 30px;
    height: 30px;
  }

  .footer-menu li {
    font-size: 14px;
  }
  .footer {
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .footer-logo p {
    font-size: 20px;
  }
  .footer-logo img {
    width: 30px;
  }
  .footer-menu {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .footer-menu li {
    font-size: 12px;
  }
  .footer-contact {
    gap: 10px;
  }
  .box {
    width: 25px;
    height: 25px;
  }

  .footer {
    gap: 10px;
  }
  .copyright {
    font-size: 12px;
  }
  .footer-contact img {
    width: 20px;
  }
}
