.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  margin: 78.86px 0 0 260px;
  background: white;
  border-radius: 6px;
}
.list-product hr {
  width: 100%;
  border: 1px solid #d1d1d1;
}
.list-product h1 {
  color: #454545;
}
.lp-allproducts {
  width: 100%;
}

.lp-format-main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}
.lp-items {
  font-size: 14px;
  font-weight: 500;
}
.lp-items img {
  width: 50px;
  height: 50px;
}
.lp-items .remove {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.lp-box {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: black;
  cursor: pointer;
}
.lp-box:hover {
  background-color: #454545;
}
.lp-three,
.lp-four,
.lp-five,
.lp-six {
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  .list-product {
    padding: 10px 20px;
  }
  .lp-format-main {
    gap: 30px;
  }
  .lp-format-main {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .list-product h1 {
    font-size: 25px;
  }
  .list-product {
    padding: 10px 10px;
  }
  .lp-format-main {
    gap: 10px;
  }
  .lp-format-main {
    font-size: 14px;
  }
  .lp-box {
    align-items: center;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 800px) {
  .lp-format {
    display: none;
  }
  .list-product {
    margin-top: 0px;
    width: 90%;
  }
  .lp-format-main {
    grid-template-columns: 1fr 2fr 2fr 2fr;
    gap: 10px;
  }
  .lp-format-main {
    font-size: 13px;
  }
  .lp-two {
    grid-column: 2/5;

    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .list-product {
    padding: 10px 5px;
  }
  .list-product h1 {
    font-size: 30px;
  }
  .lp-format-main {
    box-sizing: border-box;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    gap: 20px;
  }
  .lp-one {
    grid-row: 1;
    grid-column: 1;
  }
  .lp-two {
    grid-row: 1;
    grid-column: 2/5;
  }
}
